:root {
  --basic-font: Anton, sans-serif;
}

/* FONTS */

/* anton-regular - latin */
@font-face {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/anton-v23-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/anton-v23-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v34-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* GLOBAL */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 62.5%; /* 10px */
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem; /* 16px */
  line-height: 2.6rem; /* 2.6rem */
  font-weight: 400;
  color: #000;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1220px;
  padding-left: 2.5rem; /* 25px */
  padding-right: 2.5rem; /* 25px */
  margin: 0 auto;
}

/* HEADER */

.header {
  height: 100vh;
  padding-top: 5.7rem;
  padding-bottom: 30rem;
  background-image: url(../images/header-bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14rem;
}

.header-logo {
  margin-right: 6.9rem;
}

.header-logo:hover {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.6;
}

.logo-img {
  width: 3.1rem;
  height: 4.8rem;
}

.sitenav {
}

.sitenav-list {
  display: flex;
  gap: 4rem;
}

.sitenav-item {
}

.sitenav-link {
  color: #fff;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-family: var(--basic-font);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.sitenav-link:hover {
    opacity: 0.8;
}

.sitenav-link:active {
    opacity: 0.6;
}

.header-tel {
  flex-grow: 1;
  text-align: end;
  font-family: var(--basic-font);
  font-size: 1.7rem;
  letter-spacing: 0.1em;
  color: #fff;
}

.header-tel:hover {
    opacity: 0.8;
}

.header-tel:active {
    opacity: 0.6;
}

.header-info {
    color: #fff;
    font-family: var(--basic-font);
    text-transform: uppercase;
}

.header-text {
    font-size: 2.8rem;
    line-height: 4rem;
    letter-spacing: 0.1em;
    font-weight: 400;
}

.header-title {
    font-weight: 400;
    font-size: 9rem;
    line-height: 14rem;
    margin-top: 0;
    margin-bottom: 1.9rem;
}

.header-btn {
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 1.8rem 3rem;
    border: 1px solid #fff;
    transition: 0.4s;
}

.header-btn:hover {
    border-color: transparent;
    background-color: #fff;
    color: #000;
}

/* MAIN */

.main {
}

.hero-section {
    padding-top: 10rem;
    padding-bottom: 11.4rem;
}

.hero-container {
}

.hero-title {
    font-family: var(--basic-font);
    font-size: 5rem;
    line-height: 7.5rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 5.8rem;
}

.hero-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.hero-item {
    max-width: 56.4rem;
}

.hero-item:nth-child(1) .hero-item__description{
    margin-bottom: 11.3rem;
}

.hero-item:nth-child(2) .hero-item__description{
    margin-bottom: 6rem;
}

.hero-item__title {
    font-family: var(--basic-font);
    font-size: 2.5rem;
    line-height: 3.7rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}

.hero-item__description {
    text-align: justify;
}

.hero-item__images {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

/* FOOTER */

.footer {
    padding-bottom: 8rem;
}

.footer-container {
    display: flex;
}

.footer-text {
    font-size: 1.5rem;
    line-height: 2rem;
}

.footer-text:not(:last-child) {
    margin-right: 5.5rem;
}